@charset 'utf-8';

#mouseover {
    position: relative;
}
.tooltip {
    display: none;
    top: 30px;
    left: 5px;
    position: absolute;
    background-color: #E6001A;
    color: white;
    border-radius: 2px;
    min-width: 30px;
    text-align: center;
    padding: 0 5px;
}
.tooltip_triangle {
    position: absolute;
    top: -10px;
    left: 10px;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent transparent #E6001A;
    border-width: 5px;
    border-style: solid;
}
#mouseover a:hover+.tooltip {
    display: block;
}
